
<nav class="navbar navbar-fixed-top" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="navbar-inner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" id="signup">
                        <a class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-sign-in"></span> login</a>
                        <div class="dropdown-menu">
                            <form method="post" action="/login">
                                <div class="ui-field-contain">
                                    <label><input type="text" name="username" placeholder="username" autocapitalize="off" required/></label>
                                    <label><input type="password" name="password" placeholder="password" autocapitalize="off" required/></label><br/>
                                    <div class="buttonContainer">
                                        <button type="submit" id="getLocation">
                                            <i class="fa fa-arrow-right fa-3x"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li class="dropdown" id="signup">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin"><span class="fa fa-user-plus"></span> sign up</a>
                        <div class="dropdown-menu">
                            {{#if errors}}
                                {{#each errors}}
                                    <div class="alert alert-danger">{{msg}}</div>
                                {{/each}}
                            {{/if}}
                            <form method="post" action="/register">
                                <div class="ui-field-contain">
                                    <label><input type="text" name="username" autocapitalize="off" placeholder="username" required/> </label>
                                    <label><input type="text" name="firstName" placeholder="first name" required/> </label>
                                    <label><input type="text" name="lastName"  placeholder="last name" required/> </label>
                                    <label><input type="email" name="email" placeholder="email" autocapitalize="off" required/> </label>
                                    <label><input type="password" name="password" placeholder="password" autocapitalize="off" required/> </label>
                                    <label><input type="password" name="password2" placeholder="confirm password" autocapitalize="off" required/> </label>
                                    <div class="buttonContainer">
                                        <button type="submit" id="getLocation">
                                            <i class="fa fa-check fa-3x"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <h1 class="text animated flipInY">glimpse</h1>
    <p class="animated fadeIn">a pictorial social experience</p>
</div>
<div id="divWrapper">
    <div class="left">
        <h2 id="discoverHeading" class="animated bounceInLeft">discover</h2>
        <p class="animated bounceInRight">locals know the best spots.</p>
        <p class="animated bounceInRight">unearth new & exciting happenings through pictures.</p>
    </div>
    <div class="left">
        <h2 id="focusHeading" class="animated bounceInLeft">focus</h2>
        <p class="animated bounceInRight">no friending or following,</p>
        <p class="animated bounceInRight">so you can concentrate on exploring.</p>
    </div>
    <div class="left">
        <h2 id="appreciateHeading" class="animated bounceInLeft">appreciate</h2>
        <p class="animated bounceInRight">make someone's day brighter.</p>
        <p class="animated bounceInRight">favorite and comment on their photo.</p>
    </div>
</div>


<div class="parallax"></div>

<div style="height:300px;background-color:black; color: white;font-size:36px;  font-family: 'Scope One', serif;">
    <div id="locationBox">
        <i class="fa fa-compass fa-5x" aria-hidden="true"></i>
        <h2>for those on the move</h2>
        <p>photos change based on your location</p>
    </div>
</div>

<div class="parallax2"></div>

<div style="height:300px;background-color:black; color: white;font-size:36px;  font-family: 'Scope One', serif;">
    <div id="realTimeBox">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        <h2>real-time</h2>
        <p>new photos appear on the grid as soon as they are posted</p>
    </div>
</div>

<div class="parallax3"></div>

<script>
        var lat;
        var lon;
        window.onload = function() {
            var startPos;
            navigator.geolocation.getCurrentPosition(function(position) {
                startPos = position;
                lat = startPos.coords.latitude;
                lon = startPos.coords.longitude;
                var data = {};
                data.lat = lat;
                data.lon = lon;

                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: 'https://localhost:3000/getLocation',
                    success: function(data) {
                        console.log('success');
                        console.log(JSON.stringify(data));
                    }
                });
            });
        };
</script>




