

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">glimpse</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a id="login"  href="#loginModal" data-toggle="modal">Login</a></li>
            <li><a id="signup" href="#signupModal" data-toggle="modal"> Sign Up</a></li>
        </ul>
    </div>
</nav>

<div id="loginModal"  class="modal fade" role="dialog">
    <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Login</h4>
            <form class="form-signin">
                <input type="text" class="form-control" name="username" placeholder="email address" required="" autofocus="" /> <br/>
                <input type="password" class="form-control" name="password" placeholder="password" required=""/>
                <label class="checkbox">
                    <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"><span class="white">remember me</span>
                </label>
                <button class="btn btn-lg btn-primary btn-block" type="submit" id="loginButton">login</button>
            </form>
        </div>
    </div>
</div>

<div id="signupModal" class="modal fade">
    <div class="modal-dialogue">
        <div class="modal-content">
            <div class="modal-header">
                Thanks For Signing Up!
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form class="form-signin">
                    <input type="text" class="form-control" name="username"  placeholder="username" required/><br/>
                    <input type="text" class="form-control" name="firstName" placeholder="first name" required/><br/>
                    <input type="text" class="form-control" name="lastName"  placeholder="last name" required/><br/>
                    <input type="email" class="form-control" name="password"  placeholder="email" required/>
                    <input type="password" class="form-control" name="username" placeholder="password" required/>
                    <input type="password" class="form-control" name="password" placeholder="confirm password" required/>
                    <div class="fileUpload btn">
                        <span>choose profile pic</span>
                        <input id="imgInp" type="file" class="upload" />
                    </div>
                    <img id="profilePic" src="#" class="img-circle"/> <br/>
                    <button type="submit">
                        <i class="fa fa-check fa-3x"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var socket = io.connect('https://localhost:3000', {secure: true});
    socket.on('news', function (data) {
        console.log(data);
        socket.emit('my other event', { my: 'data' });
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#profilePic').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imgInp").change(function(){
        readURL(this);
    });
</script>
