
<nav class="navbar navbar-fixed-top" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="navbar-inner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" id="signup">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown"><span class="fa fa-sign-in"></span> login</a>
                        <div class="dropdown-menu">
                            <form>
                                <label><input type="text" name="username" placeholder="email" required/></label>
                                <label><input type="password" name="password" placeholder="password" required/></label><br/>
                                <div class="buttonContainer">
                                    <button type="submit">
                                        <i class="fa fa-arrow-right fa-3x"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li class="dropdown" id="signup">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin"><span class="fa fa-user-plus"></span> sign up</a>
                        <div class="dropdown-menu">
                            <form >
                                <label><input type="text" name="username"  placeholder="username" required/> </label>
                                <label><input type="text" name="firstName" placeholder="first name" required/> </label>
                                <label><input type="text" name="lastName"  placeholder="last name" required/> </label>
                                <label><input type="email" name="password"  placeholder="email" required/> </label>
                                <label><input type="password" name="username" placeholder="password" required/> </label>
                                <label><input type="password" name="password" placeholder="confirm password" required/> </label>
                                <label><input type='file' onchange="readURL(this);"/></label>
                                <label><div class="buttonContainer">
                                    <img id="profilePic" src="images/no_user.png" class="img-circle" alt=""/>
                                </div>
                                </label>
                                <div class="buttonContainer">
                                    <button type="submit">
                                        <i class="fa fa-check fa-3x"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <h1>glimpse</h1>
    <p>a pictorial social experience</p>
</div>
    <div id="divWrapper">
        <div class="left">
            <h2 id="discoverHeading">discover</h2>
            <p>locals know the best spots.</p>
            <p>unearth new & exciting happenings through pictures.</p>
        </div>
        <div class="left">
            <h2 id="focusHeading">focus</h2>
            <p>no friending or following,</p>
            <p>so you can concentrate on exploring.</p>
        </div>
        <div class="left">
            <h2 id="appreciateHeading">appreciate</h2>
            <p>make someone's day brighter.</p>
            <p>favorite and comment on their photo.</p>
        </div>
    </div>


<div class="parallax"></div>

<div style="height:300px;background-color:black; color: white;font-size:36px;  font-family: 'Scope One', serif;">
    <div id="locationBox">
        <i class="fa fa-compass fa-5x" aria-hidden="true"></i>
        <h2>for those on the move</h2>
        <p>photos change based on your location</p>
    </div>
</div>

<div class="parallax2"></div>

<div style="height:300px;background-color:black; color: white;font-size:36px;  font-family: 'Scope One', serif;">
    <div id="realTimeBox">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        <h2>real-time</h2>
        <p>new photos appear on the grid as soon as they are posted</p>
    </div>
</div>

<div class="parallax3"></div>



<script>
    var socket = io.connect('https://localhost:3000', {secure: true});
    socket.on('news', function (data) {
        console.log(data);
        socket.emit('my other event', { my: 'data' });
    });
</script>



<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#profilePic')
                        .attr('src', e.target.result)
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>



