<!DOCTYPE html>
<html>
<head>

    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link rel='stylesheet' href='/stylesheets/home.css' />

    <title>glimpse</title>

    <!--STYLESHEETS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link rel="stylesheet" href="/icons/font-awesome-4.6.3/css/font-awesome.min.css">

    <!--FONTS-->
    <link href="https://fonts.googleapis.com/css?family=Scope+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

    <!--Meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--JAVASCRIPTS-->
    <script src="https://unpkg.com/packery@2.1/dist/packery.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--META-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{{{body}}}
</body>
</html>

