<!DOCTYPE html>
<html>
<head>
    <title>glimpse</title>
    <!--STYLESHEETS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <link rel="shortcut icon" href="/icons/favicon.ico">
    <link rel="stylesheet" href="/icons/font-awesome-4.6.3/css/font-awesome.min.css">

    <!--FONTS-->
    <link href="https://fonts.googleapis.com/css?family=Scope+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Varela+Round" rel="stylesheet">

    <!--Meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--JAVASCRIPTS-->
    <script src="https://unpkg.com/packery@2.1/dist/packery.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--META-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="row">
        <div class="col-lg-12">
            {{#if success_msg}}
                <div class="alert alert-success">{{success_msg}}</div>
            {{/if}}
            {{#if error_msg}}
                <div class="alert alert-danger">{{error_msg}}</div>
            {{/if}}
            {{#if error}}
                <div class="alert alert-danger">{{error}}</div>
            {{/if}}
        </div>
    </div>
    {{{body}}}

    <footer>
        <p>PGRobot</p>
        <p>Contact information: <a href="mailto:dvannote@outlook.com">
            dvannote@outlook.com</a>.</p>
    </footer>
</body>
</html>

