* { box-sizing: border-box; }

.modal-open {
    overflow: hidden;
}

body {
    font-family: sans-serif;
    --color-page-background: white;
}

body {
    background-color: var(--color-page-background) !important;
}

.nightmode {
    --color-page-background: #000019;
    --color-primary-light: white;
}

* {
    transition: all .4s ease-in;
}


body.modal-open .background-container{
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
}

.jumbotron {
    height: 15%;
    color: white;
    background-color: var(--color-page-background);
    font-family: 'Scope One', serif;
    font-weight: bold;
}

nav {
    background: var(--color-page-background) !important;
}

h1{
    padding-top: 50px;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #11b6c1, 0 0 30px  #11b6c1, 0 0 40px  #11b6c1, 0 0 55px  #11b6c1 !important;
}

.jumboText {
   color: #11b6c1;
}



.adjustBtn {
    height: 45px;
    width: 45px;
}

.blurBtn {
    height: 45px;
    width: 45px;
}

.brightnessBtn {
    height: 45px;
    width: 45px;
}

.caption {
    font-family: 'Scope One', serif;
}

.captionModal {
    font-family: 'Scope One', serif;
    font-size: 25px;
}

.colorBtn {
    height: 45px;
    width: 45px;
}

.color {
    display: none;
}
.adjust {
    display: none;
}
.brightness {
    display: none;
}
.blur {
    display: none;
}

label {
    font-size: 24px;
    color: white;
}

.fa-pencil-square-o{
    color: white;
}

.fa-tint{
    color: white;
}

.fa-sun-o{
    color: white;
}

.fa-adjust{
    color: white;
}

.fa-paint-brush{
    color: white;
}

.fa-font {
    color: white;
}

.sliders {
    display: none;
}



.modal-header{
    background: #131414;
    color: white;
}

.modal-footer {
    background: #131414;
    color: white;
}

.modal-body{
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--color-page-background);
}
.modal-content {
    background: #131414;
}

.close {
    font-size: 50px;
    display:block;
}

/* ---- grid ---- */

.flexGrid {
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* or space-around */
    background-color: var(--color-page-background);
}

@media (max-width: 425px)
{
    .flexGrid {
        display: block;
    }
    .caption {
        display: none;
    }
}

.flex-item {
    margin: 0;
    overflow: hidden;
    border-radius: 25px;
}

figcaption {
    margin-top: 15px;
}

.filter {
    filter: grayscale(0.5) blur(10px);
}

img {
    border: none;
    padding: 4px;
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    display: block;
    background: #131414;
    transition: transform .2s ease-in-out;
    object-fit: contain;
}


.imageHolder {
    position: relative;
}

.imageHolder:hover img {
    transform: scale(1.15);
}

.imageHolder .caption {
    opacity: 0;
    position: absolute;
    height:50px;
    width: 250px;
    bottom: 0px;
    left: 0px;
    padding: 2px 0px;
    color: white;
    background: black;
    text-align: center;
    font-weight:bold;
}
.imageHolder:hover .caption {
    opacity: 0.75;
}

.fa-camera-retro {
    color: #ffffff;
}

.inset{
    width:100px;
    height:100px;
    border-radius:50px;
    font-size:20px;
    line-height:98px;
    background:transparent;
    border: 3px solid white;
}

.inset:hover{
    color:#eee;
    text-shadow:0 0 1px #666;
    text-decoration:none;
    box-shadow:0 0 4px #222 inset;
    opacity:1
}

.imagepreview {
    height: 100%;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#uploadForm {
    padding: 0;
    background: #131414;
}

a {
    color: #D15FEE;
}

.glimpseNav {
    text-align: left !important;
    color: #000019 !important;
    font-size: 18px;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #D15FEE, 0 0 30px #D15FEE, 0 0 40px  #D15FEE, 0 0 55px  #D15FEE !important;
}

input[type="file"] {
    margin-left: 35%;
}

.wrapper {
    padding-top: 40px;
    text-align: center;
}

.fa-sun-o {
    color: orangered;
}

.fa-moon-o {
    color: lightblue;
}





