* { box-sizing: border-box; }

/* force scrollbar, prevents initial gap */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
    width: 80%;
    margin: auto;
    margin-top: 15%;
}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .element-item ---- */

/* 5 columns, percentage width */
.grid-sizer,
.grid-item {
    width: 250px;
}

.grid-item {
    float: left;
    height: 100$;
    border: 2px solid hsla(0, 0%, 0%, 0.5);
}

img {
    height: 100%;
    width: 100%;
}

button { font-size: 20px; }
