html{
    height:100% !important;
    text-align: center;
}

body {
    background: #00001c !important;
    padding: 0px;
    margin: 0px;
    height:100% !important;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.navbar-default {
    background-color: #00001c;
    color: #11b6c1;
    font-family: 'Varela Round', sans-serif !important;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #11b6c1;
    border-radius: 1px;
}

.buttonContainer {
    text-align: center;
    margin: auto;
}

.fa-check{
    color: #11b6c1;
}

.fa-check:hover {
    color: #00001c;
}

.fa-arrow-right{
    color: #11b6c1;
}

.fa-arrow-right:hover {
    color: #00001c;
}

form input {
    border-right: 0;
    border-top: 0;
    border-left: 0;
    border-bottom-color: #00001c;
    color: #11b6c1;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

form {
    background: white;
    padding: 15px;
    height: 100%;
    font-family: 'Varela Round', sans-serif;
}

nav {
   background: #00001c;
}
a:focus, a:hover {
    color: white;
}

.nav>li>a:focus,
.nav>li>a:hover{
    background-color: transparent;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
    border-color: white;
}

label {
    margin-bottom: 10px;
    display: block;
}

span {
    background: #00001c;
}

.dropdown-menu {
    padding-bottom: 0px;
    border: #11b6c1;
}

.wrapper {
    margin:0;
    padding:0;
    float: none;
}

.landingLi {
    text-align: left;
}

.fileUpload {
    margin: auto;
    overflow: hidden;
    background: #11b6c1;
    color: white;
    font-family: 'Varela Round', sans-serif;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.img-circle{
    max-width: 100px;
    min-height: 100px;
}

input[type=file]{
    color:transparent;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ed3a0e !important;
}
input:-ms-input-placeholder { /* IE 10+ */
    color: #ed3a0e  !important;
}
input::-moz-placeholder { /* Firefox 19+ */
    color: #ed3a0e  !important;
    opacity: 1;
}
input:-moz-placeholder { /* Firefox 4 - 18 */
    color: #ed3a0e  !important;
    opacity: 1;
}

input:focus{
    box-shadow: #11b6c1;
}





